[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list
[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2025/2-grading-tests.git
[submodule "2-Brulevich-Nikita"]
	path = 2-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/2-Brulevich-Nikita.git
	branch = main
[submodule "2-ButyugovMxx"]
	path = 2-ButyugovMxx
	url = https://github.com/spbu-coding-2025/2-ButyugovMxx.git
	branch = main
[submodule "2-DenisPotapov0"]
	path = 2-DenisPotapov0
	url = https://github.com/spbu-coding-2025/2-DenisPotapov0.git
	branch = main
[submodule "2-Esoteria11"]
	path = 2-Esoteria11
	url = https://github.com/spbu-coding-2025/2-Esoteria11.git
	branch = main
[submodule "2-Ganesha1967"]
	path = 2-Ganesha1967
	url = https://github.com/spbu-coding-2025/2-Ganesha1967.git
	branch = main
[submodule "2-Iseyne"]
	path = 2-Iseyne
	url = https://github.com/spbu-coding-2025/2-Iseyne.git
	branch = main
[submodule "2-KrimPast"]
	path = 2-KrimPast
	url = https://github.com/spbu-coding-2025/2-KrimPast.git
	branch = main
[submodule "2-LeoN192"]
	path = 2-LeoN192
	url = https://github.com/spbu-coding-2025/2-LeoN192.git
	branch = main
[submodule "2-LinaraSun"]
	path = 2-LinaraSun
	url = https://github.com/spbu-coding-2025/2-LinaraSun.git
	branch = main
[submodule "2-Lizavod"]
	path = 2-Lizavod
	url = https://github.com/spbu-coding-2025/2-Lizavod.git
	branch = main
[submodule "2-LuhTonkaYeat"]
	path = 2-LuhTonkaYeat
	url = https://github.com/spbu-coding-2025/2-LuhTonkaYeat.git
	branch = main
[submodule "2-Maxdess067"]
	path = 2-Maxdess067
	url = https://github.com/spbu-coding-2025/2-Maxdess067.git
	branch = main
[submodule "2-Maxllon"]
	path = 2-Maxllon
	url = https://github.com/spbu-coding-2025/2-Maxllon.git
	branch = main
[submodule "2-Redkin-Aleksey"]
	path = 2-Redkin-Aleksey
	url = https://github.com/spbu-coding-2025/2-Redkin-Aleksey.git
	branch = main
[submodule "2-RomanKazz"]
	path = 2-RomanKazz
	url = https://github.com/spbu-coding-2025/2-RomanKazz.git
	branch = main
[submodule "2-Vlm326"]
	path = 2-Vlm326
	url = https://github.com/spbu-coding-2025/2-Vlm326.git
	branch = main
[submodule "2-arinamklvch"]
	path = 2-arinamklvch
	url = https://github.com/spbu-coding-2025/2-arinamklvch.git
	branch = main
[submodule "2-danisaev"]
	path = 2-danisaev
	url = https://github.com/spbu-coding-2025/2-danisaev.git
	branch = main
[submodule "2-dem0phob1a"]
	path = 2-dem0phob1a
	url = https://github.com/spbu-coding-2025/2-dem0phob1a.git
	branch = main
[submodule "2-diegoroflan"]
	path = 2-diegoroflan
	url = https://github.com/spbu-coding-2025/2-diegoroflan.git
	branch = main
[submodule "2-estoniec"]
	path = 2-estoniec
	url = https://github.com/spbu-coding-2025/2-estoniec.git
	branch = main
[submodule "2-kijexs"]
	path = 2-kijexs
	url = https://github.com/spbu-coding-2025/2-kijexs.git
	branch = main
[submodule "2-liptonn405"]
	path = 2-liptonn405
	url = https://github.com/spbu-coding-2025/2-liptonn405.git
	branch = main
[submodule "2-lupusarqentum"]
	path = 2-lupusarqentum
	url = https://github.com/spbu-coding-2025/2-lupusarqentum.git
	branch = main
[submodule "2-meow79"]
	path = 2-meow79
	url = https://github.com/spbu-coding-2025/2-meow79.git
	branch = main
[submodule "2-narysh"]
	path = 2-narysh
	url = https://github.com/spbu-coding-2025/2-narysh.git
	branch = main
