[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list
[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2025/2-grading-tests.git
[submodule "2-Brulevich-Nikita"]
	path = 2-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/2-Brulevich-Nikita.git
	branch = main
