[submodule "students-list"]
	path = students-list
	url = git@github.com:spbu-coding-2025/students-list
[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2025/2-grading-tests.git
[submodule "2-Brulevich-Nikita"]
	path = 2-Brulevich-Nikita
	url = https://github.com/spbu-coding-2025/2-Brulevich-Nikita.git
	branch = main
[submodule "2-ButyugovMxx"]
	path = 2-ButyugovMxx
	url = https://github.com/spbu-coding-2025/2-ButyugovMxx.git
	branch = main
[submodule "2-DenisPotapov0"]
	path = 2-DenisPotapov0
	url = https://github.com/spbu-coding-2025/2-DenisPotapov0.git
	branch = main
[submodule "2-Esoteria11"]
	path = 2-Esoteria11
	url = https://github.com/spbu-coding-2025/2-Esoteria11.git
	branch = main
[submodule "2-Ganesha1967"]
	path = 2-Ganesha1967
	url = https://github.com/spbu-coding-2025/2-Ganesha1967.git
	branch = main
[submodule "2-Iseyne"]
	path = 2-Iseyne
	url = https://github.com/spbu-coding-2025/2-Iseyne.git
	branch = main
